
a{
    text-decoration: none;
}
.class0{
    width: 350px;
    background-color: pink;
    color: orange;
    font-size: 32px;
}
.class1{
    width: 350px;
    background-color: black;
    color: orange;
    font-size: 32px;
}
.class2{
    width: 350px;
    background-color: gray;
    color: orange;
    font-size: 32px;
}
.class3{
    width: 350px;
    background-color: blue;
    color: orange;
    font-size: 32px;
}
.class4{
    width: 350px;
    background-color: green;
    color: orange;
    font-size: 32px;
}